html {
    font-family: 'M PLUS Rounded 1c', sans-serif;
}

.header {
    height: 60px;
    width: 100%;
    background-image: linear-gradient(to right, cadetblue, lightgrey);
}

.header h1 {
    text-align: center;
    padding: 15px;
    font-size: 30px;
    font-family: 'Alfa Slab One', cursive;
}

.search {
    height: 100vh;
    width: 25%;
    background-color: cadetblue
}

.search-h1 {
    text-align: left;
    padding: 10px;
    font-size: 20px;
}

.btn {
    margin: 10px 15px 0 0;
    border-bottom: 2px, black, solid;
}

.btn-info {
    background-color: lightgrey;
    color: black;
}

.today-card {
    flex: 0 0 100%;
    max-width: 100%;
    border: 2px, black, solid;
    border-radius: 15px;
    max-height: 200px;
    margin: 10px;
    padding: 5px;
    position: relative;
}

.five-day-card {
    height: auto;
    min-width: 150px;
    border: 2px, black, solid;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
}